body,div,h1,h2,h3,h4,h5,h6,th,dl,dt,li,tr{font-family:  verdana, arial,sans-serif ;	font-size: 10pt; color:#003366;} 

p {font-family:  verdana, arial,sans-serif ;color:#003366; font-size: 10pt;}

div.quote {text-align: center; color:#003399; font-weight: bold; font-size: 10pt;}

div.bullet li {font-family: verdana, arial, sans-serif; text-align:left; font-weight: bold; color:#003366; font-size:10pt;}

div.link {text-align: center; color:#CC9900; font-size: 9pt; font-weight: bold; letter-spacing: 1px}

div.title {font-family:  verdana, arial,sans-serif ;	font-size: 12pt; color:#003366; font-weight:bold;} 

div.title h1 {font-family:  verdana, arial,sans-serif ;	font-size: 10pt; color:#CC9900; font-weight:bold;} 

div.title h2 {font-family:  verdana, arial,sans-serif ;	font-size: 10pt; color:#003366; font-weight:bold;} 

div.returntop {font-family:  verdana, arial,sans-serif ; font-size: 8pt; color:#CC9900; text-align:right;}


a {text-decoration: underline; color:#003366}

a:hover {color:#CC6600; text-decoration: underline overline}


.content {width: 550} 

.white {color: white}

.border {border-width: 2px; border-color: #333366; border-style: solid;}

.blue  {color: #003366}

.new {color: #CC0000}
